html, body{
    height: 100%;
    min-width: 360px;
    background: fixed;
    background-image: url(../img/fon.jpg);
    background-size: 100%;
    color: white;
    font-family: "Consolas", "Menlo", "Courier", monospace;
    font-size: 16pt;
}

img{
    margin-top: 10px;
    width: 410px;
    height: auto;
}

form input{
    display: block;
    margin-bottom: 10px;
    width: 500px;
}

.back{
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
}

.btn{
    margin-top: 20px;
    background-color: #0d66c2;
    border-radius: 20px;
    width: 200px;
    color: white;
    font-family: "Consolas", "Menlo", "Courier", monospace;
    font-size: 16pt;
    font-weight: bold;
}

a {
    font-family: "Consolas", "Menlo", "Courier", monospace;
    font-size: 16pt;
    font-weight: bold;
    color: #ff9090;
    margin-right: 50px;
}

label {
    color: lightgreen;
}
