{% extends 'base.html' %}

{% block content %}
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-info">
                <strong>{{ message }}</strong>
          </div>
      {% endfor %}
  {% endif %}

  <div class="row">
<!--      <h1><b>Список дел {{ user_name }}</b></h1>-->
      <div class="title">Список дел {{ user_name }}</div>
      <hr>
  </div>

  <div class="col-md-12 menu-bar">
    <a href="{% url 'logout' %}" class="exit">Выйти</a>
  </div>

  <div class="row">
    <div class="col-md-8">
      {% for i in list %}
      <div class="card">
        <b>{{ i.title }}</b>
        <hr>
        {{ i.date }}
        <hr>
        {{ i.details }}
        <br>
        <br>
        <form action="/del/{{ i.id }}" method="POST" style=" padding-right: 4%; padding-bottom: 3%;">
          {% csrf_token %}
          <button value="Удалить" type="submit" class="btn btn-primary" style="float: right;">
               Удалить</button>
        </form>
      </div>
      {% endfor%}
    </div>


    <div class="col-md-1"> </div>

    <div class="col-md-3" >
      <div  class="submit_form">
          <form  method="POST" action="{% url 'todo' %}">
            {% csrf_token %}
            {{ forms }}
            <input type="submit" class="btn btn-default" value="Сохранить" />
          </form>
      </div>
    </div>

</div>
{% endblock %}