@font-face {
    font-family: Arial;
    src: url("../fonts/arial.ttf");
}

body{
    min-width: 360px;
    font-family: Arial;
    background: #f9f9f9 url(../img/background.jpg) fixed;
}

table{
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    cellspacing: 0px;
    border-spacing: 0;
}

td{
    border-bottom: thin solid black;
}

.link{
    display: inline-block;
    font-size: clamp(8.5pt, 2vw, 16pt);
    color: #0059b2;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

a p{
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.7em, 4.0vw, 1.4em);
}

li {
    display: table-cell;
    vertical-align: middle;
}

.export_pdf{
    text-align: right;
}

.main_div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main_img{
    width: 100%;
    height: auto;
}

img{
    width: clamp(130px, 20vw, 200px);
}

.title{
    font-size: clamp(1em, 5vw, 2em);
    font-weight: bold;
    color: brown;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
