body{
    min-width: 360px;
    background: fixed;
    background-image: url(../img/fon.png);
    background-size: 100%;
}

/*h1{*/
/*    text-align: center;*/
/*}*/

.card {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),
               0 6px 20px 0 rgba(0,0,0,0.39);
   background:  #b9eeb9;
   margin-bottom: 5%;
   border-radius: 25px;
   padding: 2%;
   overflow: auto;
   resize: none;
   text-overflow: ellipsis;
}

.card:hover{
    background: lightblue;
}

.submit_form{
    text-align: center;
    padding: 3%;
    background:  #b9eeb9;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),
                0 6px 20px 0 rgba(0,0,0,0.36);
}

textarea {
  width: 95%;
  margin-top: 7px;
  margin-bottom: 7px;
  resize: none;
}

.menu-bar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
    font-size: 18pt;
    font-weight: bold;
}

.title{
    font-size: clamp(1em, 5vw, 2em);
    font-weight: bold;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.exit{
    font-size: clamp(14px, 2vw, 16pt);
}